* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    font-family: 'Merriweather', serif;
}

.body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    gap: 50px;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
}

/* ESTILOS HEADER */

.header{
    display: flex;
    flex-direction: column;
    align-items: center;  
    gap: 2.4rem;
}

.header__title {
    font-size: 5.2rem;
    text-align: center;
    color: var(--title-color);
}

.menu{
    display: flex;
    justify-content: center;
    gap: 2rem;
    font-size: 1.8rem;
}

.menu__item{
    padding: .8rem;
    border-radius: 1rem;
}

.menu__item:hover{
    cursor: pointer;
    color: var(--primary-font);
    background-color: var(--secondary-background);
}

.menu__item--inactive{
    color: var(--secondary-font);
}

.menu__item--active{
    color: var(--primary-font);
    background-color: var(--secondary-background);
    border: 1px solid var(--title-color);
}

/* ESTILOS HEADER */

/* ESTILOS CONTENEDOR MAIN */

.main{
    width: 100%;
    padding: 0px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

/* ESTILOS CONTENEDOR MAIN */

/* ESTILOS SECCIONES */

.section{
    max-width: 640px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.8rem;
    background-color: var(--secondary-background);
    border: 1px solid var(--very-light-font);
    padding: 2rem;
    border-radius: 1rem;
}

.section__title{
    text-align: center;
    font-size: 2rem;
    font-style: italic;
    color: white;
}

.section--active{
    display: flex;
}

.section--inactive{
    display: none;
}

/* ESTILOS SECCIONES */

/* ESTILOS CARDS */

.card{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 8px;
}
.card:not(:last-child){
    border-bottom: 1px solid var(--very-light-font);
    padding-bottom: 20px;
}
.card__title{
    font-size: 1.6rem;
    color: var(--secondary-font);
    text-align: center;
}
.card__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}
.card__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.card__resultados {
    display: none;
    flex-direction: column;
    gap: 10px;
    width: 240px;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--primary-hover-button);
    color: var(--primary-font);
}

.card__resultados p{
    font-size: 1.2rem;
}

.input{
    min-width: 240px;
    height: 30px;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid var(--very-light-font);
    background-color: var(--primary-color);
    color: var(--primary-font);
}
.input:focus-visible{
    outline: 1px solid var(--title-color);
}
.button{
    height: 30px;
    min-width: 240px;
    border-radius: 5px;
    border: none;
    background-color: var(--primary-button);
    font-weight: bold;
    font-size: 1.6;
    color: var(--primary-font);
}
.button:hover{
    cursor: pointer;
    background-color: var(--primary-hover-button);
}
.button--secondary{
    background-color: var(--secondary-button);
}
.button--secondary:hover{
    background-color: var(--secondary-hover-button);
}

.buttons-container{
    display: flex;
    flex-direction: column;
    background-color: var(--primary-color);
}

.button.button--promedios{
    background-color: var(--primary-color);
    color: var(--secondary-font);
}

.button.button--promedios-active{
    color: var(--primary-font);
    border-radius: 0px;
    background-color: var(--very-light-font);
}

.button.button--promedios:hover{
    border-radius: 0px;
    color: var(--primary-font);
    background-color: var(--very-light-font);
}

.buttons-container.buttons-container--controls{
    background-color: var(--secondary-background);
    display: grid;
    width: 240px;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;
}

.buttons-container.buttons-container--controls .button{
    width: auto;
    min-width: 20px;
}
.buttons-container.buttons-container--controls .button:hover{
    border-radius: 5px;
}

.inputs-container{
    display: grid;
    grid-template-columns: 1fr 1fr auto;
    gap: 5px;
}
.inputs-container .input{
    min-width: 30px;
    width: 80px;
}

/* ESTILOS CARDS */


/* ESTILOS FOOTER */

.footer{
    width: 100%;
}

.footer__text{
    text-align: center;
    font-size: 1.6rem;
    color: var(--secondary-font);
}

.footer__link{
    text-decoration: none;
    color: var(--title-color);
    font-weight: bold;
}

/* ESTILOS FOOTER */


@media screen and (max-width: 842px) {
    .header__title{
        font-size: 3.6rem;
    }
    .menu {
        flex-direction: column;
    }
    .menu__item{
        text-align: center;
    }
}
