* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    font-family: 'Merriweather', serif;
}

.body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    gap: 20px;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color);
    background-image: var(--background-gradient);
}

/* ESTILOS HEADER */

.header{
    display: flex;
    flex-direction: column;
    align-items: center;  
    gap: 2.4rem;
}

.header__title {
    font-size: 5.2rem;
    text-align: center;
    color: white;
}

.menu{
    display: flex;
    justify-content: center;
    gap: 2rem;
    font-size: 1.8rem;
}

.menu__item{
    padding: .8rem;
    border-radius: 1rem;
}

.menu__item:hover{
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.1);
}

.menu__item--inactive{
    color: rgba(255, 255, 255, 0.8);
}

.menu__item--active{
    color: rgba(255, 255, 255, 1);
    box-shadow: 0px 0px 2px 1px rgba(255, 255, 255, 0.7);
}

/* ESTILOS HEADER */

/* ESTILOS CONTENEDOR MAIN */

.main{
    max-width: 640px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* ESTILOS CONTENEDOR MAIN */

/* ESTILOS SECCIONES */

.section{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 640px;
    gap: 1.8rem;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

.section__title{
    text-align: center;
    font-size: 2rem;
    font-style: italic;
    color: white;
}

.section--active{
    display: flex;
}

.section--inactive{
    display: none;
}

/* ESTILOS SECCIONES */

/* ESTILOS CARDS */

.card{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 360px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    padding: 8px;
}
.card__title{
    font-size: 1.6rem;
    color: rgba(255, 255, 255, 0.8);
    text-align: center;
}
.card__content {
    display: flex;
    flex-direction: column;
}
.card__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.input{
    height: 30px;
    width: 240px;
    padding: 8px;
    border-radius: 5px;
    border: none;
}
.button{
    height: 30px;
    width: 240px;
    border-radius: 5px;
    border: none;
    background-color: rgba(0, 255, 0, 0.5);
    font-weight: bold;
    font-size: 1.6;
    color: white;
}

.button:hover{
    cursor: pointer;
    background-color: rgba(0, 255, 0, 0.7);
}

/* ESTILOS CARDS */


/* ESTILOS FOOTER */

.footer{
    width: 100%;
    position: absolute;
    bottom: 10px;
}

.footer__text{
    text-align: center;
    font-size: 1.6rem;
    color: rgba(255, 255, 255, 0.7);
}

.footer__link{
    text-decoration: none;
    color: rgba(255, 255, 255, 1);;
}

/* ESTILOS FOOTER */